body{
    background: rgb(2,0,36);
background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(103,121,9,1) 31%, rgba(0,212,255,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, h2, h3 {
    text-align: center;
    color: #055679;
}
.container{
    width: 80%;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    width: 20%;
    margin: auto;
    
  }
    

p{
    text-align: justify;
}
tbody thead{
    text-align: center;
    margin: 0 auto;
}
.interna{
   width: 80%; 
   margin: 0 auto;
   border: #ddd solid 1px;
   padding: 20px;
   color: white ;

}
.forma{
	width: 60%;
	margin: 0 auto;
	padding: 80px;
	border-radius: 50px;
    text-align: center;
	
}
input[type='submit']{
	background-color: orange;
	color: blue;
	cursor: pointer;
}
input{
    padding: 40px;
}